$color-1:#0b0b0b;
$color-2:#0f023d;
.cv {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e05757;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    
  
    h1 {
        
      color:$color-1;
    }
  
    h2 {
        text-align: center;
      color: $color-2;
    }
  
    h3 {
      color: #0e0231;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
    }
  
    li {
      background: #ecf0f1;
      margin: 5px 0;
      padding: 8px;
      border-radius: 4px;
    }
  }
  