$color-1:#0b0b0b;
$color-2:#0f023d;
.cv {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e05757;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /*pour aligner  mon header*/
    .pour__header{
     display: flex;
     align-items: center;
     justify-content: space-around;
  
         h2:hover{
      border-bottom: 1px solid black;
      color: rgb(141, 174, 8);
       
    }
    }
    /*fin dalignement*/
  
    h1 {
      
     font-size: 20px;   
      color:$color-1;
    }
  
    h2 {
        text-align: center;
      color: $color-2;
    }
  /*pour l'alignement de langue et cordonnées*/
  .pour__lacom {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
    color: black;
}

  .section {
    width: 48%;
    
     p span{
    color:blue
      }
  }
  /*fin*/
  
    ul {
      list-style-type: none;
      padding: 0;
    }
  
    li {
      background: #ecf0f1;
      margin: 5px 0;
      padding: 8px;
      border-radius: 4px;
    }
  }
  